{% extends "base.html" %}
{% load static %}

{% block title %} | Error!{% endblock %}

{% block content %}
<div class="bookings-container">
  <div class="container" role="main" aria-label="Booking error">
    <h1 class="text-center mt-3">Booking Error</h1>
    <p class="text-center">
      There was an error processing your booking. Please try again or contact us for assistance.
    </p>
    <div class="text-center">
      <a href="{% url 'home' %}" class="btn cstm-btn-action" aria-label="Return to home page">Return to Home</a>
    </div>
  </div>
</div>
<script>
  console.log("{{ error_message|escapejs }}");
</script>
{% endblock %}